<footer class="navbar navbar-light bg-light fixed-bottom">
    <h7 style="color:black;text-align: center;">Vishnu R | Copyright Reserved</h7>
</footer>
<script src="/content/scripts/app.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
</body>
</html>