
    <!--For Frontend Implementation-->
    <script src="/Content/Scripts/app.js"></script>;
    <!--Activating bootstrap and jquery-->
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
</body>
</html>