<%- include partials/header -%>
    <!-- Adding CSS for linkedin badge -->
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

    <!--Content Page-->
    <section class="bg-light text-dark p-5 text-center text-sm-start" style="margin-top: 1%;">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div class="container">
                    <div>
                        <h1>Vishnu Rajendran Pillai</h1>
                        <p>
                            Being a tester, I want to know everything. What can I do with it? How can I do it? How to
                            make it better? What if I do it another way? The devil is always in the details, So I make
                            sure to be precise and detailed-oriented. One thing that always excites me is that playing
                            the role of a tester is like detective work, with the exception that you do not know what
                            crime was committed until you find it.
                            I always strive to automate repeated and time-consuming testing work by creating reliable,
                            extendable, and robust automation scripts. By playing the role of a software developer in
                            testing(SDET), I have created and contributed to test automation framework development.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-xs-12 col-md-6 mr-6">
                <a class="btn btn-success" style="color:white" href="/content/resume.pdf">Resume</a>
            </div>
        </div>
    </section>
    <!--Content Page-->
    <!--Adding Linkedin Badge-->
    <section class="bg-light text-dark p-5 text-center text-sm-start" style="margin-top: 1%;">
        <div class="container">
            <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light"
                data-type="VERTICAL" data-vanity="connectvishnur" data-version="v1"><a
                    class="badge-base__link LI-simple-link"
                    href="https://ca.linkedin.com/in/connectvishnur?trk=profile-badge"></a>
            </div>
        </div>
    </section>
     <!--Adding Linkedin Badge-->
    </div>
    </div>

    <%- include partials/footer -%>