<%- include partials/header -%>

    <!--Adding different Projects-->
    <div class="container-fluid" style="background-color:white; margin: 0%; padding: 0%;">
        <div class="row " style="padding: 3%;">
            <div class="col col-lg-4" style="padding: 7%">
                <div class="card" style="width: 20rem; height: 20rem;">
                    <img class="card-img-top" src="/images/fusion.png" style="height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">Oracle Fusion Applications</h5>
                        <p class="card-text">Oracle Cloud Infrastructure </p>

                    </div>
                </div>
            </div>

            <div class="col col-lg-4" style="padding: 7%">
                <div class="card" style="width: 20rem; height: 20rem;">
                    <img class="card-img-top" src="/images/EY.png" style="height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">Ernst and Young</h5>
                        <p class="card-text">
                            Applications : Travel Portal , Collect Now
                        </p>

                    </div>
                </div>
            </div>

            <div class="col col-lg-4" style="padding: 7%">
                <div class="card" style="width: 20rem; height: 20rem;">
                    <img class="card-img-top" src="/images/opa.png" style="height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">Oracle Intelligent Advisor</h5>
                        <p class="card-text">
                            Oracle Policy Automation
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>







    <%- include partials/footer -%>