<%- include partials/header -%>
    <div class="container-fluid bg-white" style=" margin: 0%; padding: 0%; ">
        <div style="color: black">
            <h1><%=title%></h1>
            </div>
        <div class="row " style="padding: 1%; margin-left: 4%;">           
            <div class="col col-lg-4 ">
                <h3><%=title%></h3>
                <form action=""   method="post" >
                    <div class="form-group">
                        <label for="exampleFormControlInput1">UserName</label>
                        <input type="text" class="form-control" name="username" id="exampleFormControlInput1"
                            placeholder="first name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Password</label>
                        <input type="text" class="form-control" name="password" id="exampleFormControlInput1"
                            placeholder="last name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">EmailAddress</label>
                        <input type="email" class="form-control" name="emailaddress" id="exampleFormControlInput1"
                            placeholder="email address">
                    </div>
                    <button type="Submit" class="btn btn-success text-white">Register</button>
                </form>
            </div>
        </div>
    </div>
    </div>

    <%- include partials/footer -%>