<%- include partials/header -%>

    <!--Adding different Services-->
    <div class="container-fluid" style="background-color:white; margin: 0%; padding: 0%;">
        <div class="row " style="padding: 3%;">
            <div class="col col-lg-4" style="padding: 7%">
                <div class="card" style="width: 20rem; height: 20rem;">
                    <img class="card-img-top" src="/images/UITest.png" style="height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">Front End Testing</h5>
                        <p class="card-text">Selenium , UFT ,Page Object Model,Selenium grid,TestNG </p>

                    </div>
                </div>
            </div>

            <div class="col col-lg-4" style="padding: 7%">
                <div class="card" style="width: 20rem; height: 20rem;">
                    <img class="card-img-top" src="/images/PerfTest.png" style="height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">Performace Testing</h5>
                        <p class="card-text">
                            Jmeter, Grafana , Graphite ,Prometheus ,Containerization
                        </p>

                    </div>
                </div>
            </div>
            
            <div class="col col-lg-4" style="padding: 7%">
                <div class="card" style="width: 20rem;height: 20rem; ">
                    <img class="card-img-top" src="/images/microservice.png" style="height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">MicroService Testing</h5>
                        <p class="card-text">SoapUI, Postman ,Collection Runner ,Extent Report</p>
                    </div>
                </div>
            </div>

        </div>
        </div>
        </div>


        <%- include partials/footer -%>